:root {
  /* colors */
  /* 1. main colors */
  --primary-color: #3b82f6;
  --secondary-color: #14b8a6;
  --error-color: #f87171;

  /* 2. bg colors */
  --primary-bg: #e2e8f0;
  --active-bg: #ccfbf1;

  /* 3. typography colors */
  --text-primary: #334155;
  --text-light: #475569;

  /* 4. misc colors */
  --zoom-color: #0b5cff;

  /* fonts */
  --font-family: "Space Grotesk", sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* borders */
  --border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  font-family: var(--font-family);
  min-height: 100vh;
}

main {
  min-height: 100%;
}

::selection {
  background: rgba(0, 0, 0, 0.14);
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.14);
}
